<div class="banner">
    <h1 class="title-space">Contact Us</h1>
    <div class="sub-title">
        <p>We’d love to hear from you! Please don’t hesitate to reach out to us with any questions, comments, or concerns – we’re here to help.</p>
    </div>
</div>
<div class="reservation-cont">
    <div class="cont">
        <h2 class="title">OUR LOCATION</h2>
        <h2>3 E 19th St, 123 Fifth Avenue, NY 10160, New York, USA</h2>
        <p class="desc">Come on over to Café Serendipity and enjoy a relaxing moment with your friends and family. No reservations required – just drop in and indulge in some delicious snacks and coffee. We look forward to welcoming you!</p>
        <div class="btn-cont">
            <button class="reserve-btn">Book A table Now</button>
        </div>
        <div class="tele-title">TELEPHONE RESERVATIONS</div>
        <div class="tele-title">12 34 56 7890</div>
    </div>
</div>
<div class="mail-container">
    <div class="mail-cont">
        <div class="box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.047349031254!2d-73.99339512436987!3d40.738983635963905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a3b33ee2d5%3A0xd84d63f1c7fe5602!2s3%20E%2019th%20St%2C%20New%20York%2C%20NY%2010003%2C%20USA!5e0!3m2!1sen!2sin!4v1688760321232!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="box">
            <h2>Send Us A Message</h2>
            <p>Massa praesent sit suspendisse ac volutpat amet. Commodo elit at non neque ullamcorper id.</p>
            <input [(ngModel)]="from_name" placeholder="Full Name*" />
            <input [(ngModel)]="from_email" placeholder="Active Mail*" />
            <input [(ngModel)]="content" placeholder="Message*" />
            <div class="btn-cont">
                <button class="reserve-btn" (click)="onSubmit()">Send Message</button>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>