.btn-cont{
    display: flex;
    .reserve-btn{
        background: transparent;
        color: #fff;
        border: 1px solid;
        min-height: 45px;
        min-width: 10rem;
        font-weight: 600;
        cursor: pointer;
        margin: 5em auto;
    }
    .reserve-btn:hover{
        background-color: #FFFFFF;
        color: #1A1A1A;
    }
}
.banner{
    background: url('../../../assets/contact-us-bg-img.webp');
    background-position: 0px -269px;
    background-size: cover;
    margin-bottom: 0;
    padding: 5rem;
    text-rendering: geometricprecision;
    text-align: center;
    color: #FFFFFF;
    background-blend-mode: multiply;
    background-color: #636060d4;
    .title-space {
        font-size: 3em;
        font-family: sans-serif;
        font-weight: 600;
    }
    .sub-title{
        display: block;
        max-width: 40em;
        margin: 1rem auto;
        p{
            padding-bottom: 3em;
            margin-bottom: 0;
            text-align: center;
            font-size: 1.3rem;
        }
    }
    
}
.reservation-cont{
    text-align:center;
    background-color: #E9ECEF;
    margin: 0;
    padding: 5em 3em;
    .cont{
        margin: 2em 10em;
        margin-top: 0;
        .title{
            line-height: 1.4;
            letter-spacing:.1em;
            font-size: 2em;
            margin-top: 0;
        }
        .desc{
            width: 45em;
            margin: auto;
            color: #4D4D4D;
            font-size: 1rem;
            font-family: 'IBM Plex Sans', sans-serif;;
        }
        .tele-title{
            font-size: 1.4em;
            font-weight: 500;
        }
        .btn-cont{
            .reserve-btn{
                color: #222222;
                border: 2px solid #222222;
                margin-bottom: 2em;
                margin-top: 2em;
            }
            .reserve-btn:hover{
                background-color: #222222;
                color: #FFFFFF;
            }
        }
        @media screen and (max-width: 1024px) {
            margin: 2em auto;
            .desc{
                width: 100%;
            }
        }
    }

    
}
.mail-container{
    background-color: #E9ECEF;
    margin: 0;
    padding: 5em 3em;
    .mail-cont{
        display: grid;
        margin: 2em 10em;
        justify-content: flex-end;
        font-weight: 100;
        input{
            background-color: #FFFFFF;
            border: 1px solid #1A1A1A;
            min-height: 3em;
            border-radius: 4px;
            width: 100%;
            margin-bottom: 2em;
            padding: 0.5em 1em;
            font-size: 0.75em;
        }
        input:focus{
            outline: 0.75px solid #1A1A1A;
        }
        .btn-cont{
            .reserve-btn{
                color: #1A1A1A;
                border: 1px solid #1A1A1A;
                margin: 2em 0;
                border-radius: 4px;
                font-weight: 100;
                font-size: 1em;
                min-width: 15em;
            }
            .reserve-btn:hover{
                background-color: #1A1A1A;
                color: #FFFFFF;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        display: grid;
        margin: 0em auto;
        justify-content: center;
    }
}