@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap');
body{
    margin: 0 !important;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.ff-IBM400{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
.ff-IBM100{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
}
/* Example of customizing toast styles */
.toast-container {
    font-family: 'Arial', sans-serif;
}

.toast {
    border-radius: 5px;
}

.toast-title {
    font-weight: 200;
}

.toast-message {
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.4;
}
  