<div class="banner">
    <h1 class="title-space">About Us</h1>
    <div class="sub-title">
        <p>Massa praesent sit suspendisse ac volutpat amet. Commodo elit at non neque ullamcorper id.</p>
    </div>
</div>
<div>
    <div class="container">
        <div class="flex-box">
            <div>
                <h1>Our Story</h1>
            </div>
            <div class="desc">
                At Café Serendipity, we are a team of coffee and snack enthusiasts who are passionate about providing a cozy and inviting atmosphere for our guests. From our skilled baristas who craft the perfect cup of coffee to our friendly staff who provide top-notch service, every member of our team is committed to ensuring a memorable experience for our guests. We are here to provide a quick escape from the hustle and bustle of daily life, and to make your day a little bit sweeter.
            </div>
        </div>
        <div class="flex-box">
            <div class="wd-30">
                <div class="benefit-box">
                    <div class="svg-cont">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M234.5 5.7c13.9-5 29.1-5 43.1 0l192 68.6C495 83.4 512 107.5 512 134.6V377.4c0 27-17 51.2-42.5 60.3l-192 68.6c-13.9 5-29.1 5-43.1 0l-192-68.6C17 428.6 0 404.5 0 377.4V134.6c0-27 17-51.2 42.5-60.3l192-68.6zM256 66L82.3 128 256 190l173.7-62L256 66zm32 368.6l160-57.1v-188L288 246.6v188z"/></svg>
                    </div>
                    <div class="bordered">
                        <h2>Cozy Place</h2>
                        <p>Unwind and feel at home in the cozy atmosphere of our cafe.</p>
                    </div>
                </div>
                <div class="benefit-box">
                    <div class="svg-cont">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M234.5 5.7c13.9-5 29.1-5 43.1 0l192 68.6C495 83.4 512 107.5 512 134.6V377.4c0 27-17 51.2-42.5 60.3l-192 68.6c-13.9 5-29.1 5-43.1 0l-192-68.6C17 428.6 0 404.5 0 377.4V134.6c0-27 17-51.2 42.5-60.3l192-68.6zM256 66L82.3 128 256 190l173.7-62L256 66zm32 368.6l160-57.1v-188L288 246.6v188z"/></svg>
                    </div>
                    <div class="bordered">
                        <h2>Relax Atmosphere</h2>
                        <p>Enjoy a peaceful and relaxed atmosphere that soothes the senses.</p>
                    </div>
                </div>
                <div class="benefit-box">
                    <div class="svg-cont">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M234.5 5.7c13.9-5 29.1-5 43.1 0l192 68.6C495 83.4 512 107.5 512 134.6V377.4c0 27-17 51.2-42.5 60.3l-192 68.6c-13.9 5-29.1 5-43.1 0l-192-68.6C17 428.6 0 404.5 0 377.4V134.6c0-27 17-51.2 42.5-60.3l192-68.6zM256 66L82.3 128 256 190l173.7-62L256 66zm32 368.6l160-57.1v-188L288 246.6v188z"/></svg>
                    </div>
                    <div>
                        <h2>Nice and quick service</h2>
                        <p>Enjoy prompt and friendly service that enhances your cafe experience.</p>
                    </div>
                </div>
            </div>
            <div class="img-cont">
                <img src="../../../assets/inside-restaurant-topview-1.webp" alt="inside-restaurant-topview-1">
            </div>
        </div>
    </div>
</div>
